name: r_tests
run-name: Run R tests

on:
  push:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: '3.11'
          - os: ubuntu-latest
            python-version: '3.12'
          - os: windows-latest
            python-version: '3.12'
          - os: macos-latest
            python-version: '3.12'

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up R package dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: examples/r_package
          use-renv: false
          use-pak: false
          extra-packages: devtools
          cache-version: 1

      - name: Run R tests for waitingtimes
        working-directory: examples/r_package
        run: |
          devtools::test()
        shell: Rscript {0}